@font-face{
  font-family: ComicBold;
  src: url('./assets/ComicNeue-Bold.ttf') format('truetype');
}


html body{
  font-family: ComicBold, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1{
  margin: 0.625rem auto;
  font-size: 50px;
}

#input-container{
  display: flex;
  width: 490px;
  margin: 0.625rem auto;
  justify-content: space-between;
}

.jkp-box-red{
  border: 4px solid crimson;
  border-radius: 5px;
}

.jkp-box-green{
  border: 4px solid teal;
  border-radius: 5px;
}

button{
  background-color: #6d9cf5;
  color: #fffafa;
  margin: 0.625rem auto;
  width: 200px;
  height: 50px;
  font-size: 30px;
  font-family: sans-serif;
  border-radius: 0.625rem;
  border: none;
  outline: none;
  box-shadow:  0 0 4px rgb(104, 104, 104);
  cursor: pointer;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover{
   background: #5283dd; 
}

.ripple:active{
  background-color: #6d9cf5;
  background-size: 100%;
  transition: background 0s;
}

#result{
  margin: 0 auto;
}

#scoreboard{
  margin: 0 auto;
  font-size: 20px;
}

footer{
  position: absolute;
  bottom: 0;
  font-family: sans-serif;
  font-size: 14px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

footer p{
  margin: 0.625rem ;
}

a{
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #4166aa;
}